{% extends 'base.html' %}

{% block head %} 
<title>FlaskReddit-Home</title>
<style>
    body {
        background: #dae0e6 !important;
        margin-top: 75px !important;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light style=" style="background-color: #fff !important;">
    <div class="container">
        <a class="navbar-brand" href="/">FlaskReddit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="mx-2 my-auto d-inline w-100" style="margin-left: 100px !important; margin-right: 100px !important;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item btn btn-outline-primary mx-2" href="/login">Login</a>
                <a class="nav-item btn btn-primary" href="/signup">Signup</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <strong>
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        10.5k
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </strong> r/Flask <span class="text-muted" style ="font-size: 10pt;"> Posted by u/username</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Subcribe to Username</h5>
                    <p class="card-text">
                        The science of computing is transforming the world at a breathtaking pace. 
                            Think self-driving cars, the Internet of Things (IoT), and artificial brains. 
                            Think medical advances made possible by the sheer computation power and our 
                            newfound ability to gather and sift through massive
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="" class="btn btn-light btn-sm"><i class="fas fa-comment:"></i> 0 Comments</a>
                    <a href="" class="btn btn-light btn-sm"><i class="fas fa-share:"></i> Share</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> r/Popular</h5>
                        <p class="card-text">
                            The science of computing is transforming the world at a breathtaking pace. 
                            Think self-driving cars, the Internet of Things (IoT), and artificial brains. 
                            Think medical advances made possible by the sheer computation power and our 
                            newfound ability to gather and sift through massive amounts of data. In this age, 
                            this is the science that touches every life and drives every modern endeavor. Through 
                            hands-on projects and active learning activities, students in our program will be 
                            trained not only to make excellent use of the state-of-the-art technology but 
                            also to create and drive future technology.
                        </p>
                        <a href="/" class="btn-primary btn-block">Create Post</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}